.main-text a{
    text-decoration: none;
    color: white;
}

#page_wrapper{
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.header{
    width: 95%;
    height: 20%;
    background: url('../assets/img/back.jpg');
    background-size: cover;
}

.main__logo{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.logo__img{
     /* box-shadow: 0 0 1px rgba(0,0,0,0.5); */
     max-width: 100%;
     height: auto;
     padding-right: 0.5em;
}

.main-header{
    width: 85%;
    background-color: #e09c47;
    opacity: 0.9;
}

.logo__text{
    color: white;
    font-size: 2.25em;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

.grid__layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.products__left{
    background-color: #171717;
    padding: 5px;
}

.products__left > ul > li > a{
    color: white;
    font-size: 32px;
}

.products__right > ul > li > a{
    color: #171717;
    font-size: 32px;
}

.products__left > ul > li{
    cursor: pointer;
    color: #171717;
}

.left-item:hover{
    color: #437DD4;
}

.products__right > ul > li{
    color: white;
}

.products__all > ul > li:before{
    content: '';
    display: inline-block;
    height:24px;
    width: 24px;
    border-radius:50%;
    background-color:#e69e44;
    margin-right: 10px;
}

.telephone{
    padding: 10px 10px;
    color: white;
    font-size:32px;
    float: right;
    background-color: #e69e44;
}

/* ---- catalog ---- */

.logo__header{
    background: #e09c47;
   /* padding: 30px 100px; */
}

.logo__block h1{
    display: flex;
    color: white;
    text-align: center;
    margin: 0 2em;
}

.products__left > ul{
    margin-left: 30px !important;
}

.products__right > ul{
    margin-right: 15px;
}



.products__logo_left h2{
    font-size: 36px;
    text-align: center;
    color: white;
    padding-top: 20px;
}

.products__logo_right h2{
    font-size: 36px;
    text-align: center;
    color: #171717;
    padding-top: 20px;
}

.products__image_left{
    max-width: 100%;
    height: auto;
    margin-left: 5%;
}

.products__image_right{
    max-width: 100%;
    height: auto;
    margin-left: 15%;
    margin-top: 5%;
}

.photo__collage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 2em;
}

.photo_item{
    max-width: 100%;
    height: auto;
}

.image__right{
    max-width: 100%;
    height: auto;
}
/* --- media ----*/

@media (max-width: 1217px){
    .logo__text{
        font-size: 2em;
    }
}

@media (max-width: 1087px){
    .main__logo{
        padding-bottom: 0;
    }
    .logo__text{
        font-size: 1.75em;
        padding-right: 0.25em;
    }
}

@media (max-width: 900px) {
    .main__logo{
        display: block;
    }

    .logo__text{
        text-align: center;
        font-size: 2.5em;
        padding: 1em 1em 0 1em;
    }

    #page_wrapper{
        width: 100%;
    }
    .grid__layout{
        display: block;
    }
    .photo_item{
        padding: 10px;
    }

    .products__left > ul{
        margin-left: 30px !important;
    }

    .products__image_left{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 2em 0;
    }

    .products__image_right{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 2em 0;
    }
}

@media (max-width: 750px) {
    .photo__collage{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .products__left > ul > li > a{
        font-size: 1.8em;
    }

    .products__right > ul > li > a{
        font-size: 1.8em;
    }

    .products__right > ul{
        padding-bottom: 2em;
    }
}

@media (max-width: 550px) {
    .logo__text{
        font-size: 2em;
    }
    .products__left > ul > li > a{
        font-size: 1.5em;
    }

    .products__right > ul > li > a{
        font-size: 1.5em;
    }
    .telephone > p{
        font-size: 0.85em;
    }
}

@media (max-width: 450px) {
    .logo__text{
        font-size: 1.8em;
    }
    .products__left > ul > li > a{
        font-size: 1.3em;
    }

    .products__right > ul > li > a{
        font-size: 1.3em;
    }
}

/* --- form --- */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
}

.modal.open {
    display: flex;
}


.modal__block {
    position: relative;
    max-width: 640px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.1);
}

.modal__subtitle {
    font-size: 14px;
    margin-bottom: 14px;
}

.modal__title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 30px;
}

.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.modal__label {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
}

.modal__label-text {
    min-width: 105px;
    font-size: 14px;
    margin-right: 20px;
}

.modal__input {
    flex-grow: 1;
    border-style: solid;
    border-width: 1px;
    border-color: transparent transparent #000 transparent ;
}

.modal__submit {
    margin-top: 20px;
}